<div
  class="hero min-h-screen"
  style="background-image: url('/victor-freitas-WvDYdXDzkhs-unsplash.jpg')"
>
  <div class="hero-overlay" style="background-color: rgba(0, 0, 0, 0.7)"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Sua academia agora é na sua casa!</h1>
      <p class="mb-5">
        Conheça o método de Lucca Guerra: treinos curtos, eficientes e adaptáveis à sua rotina,
        usando o espaço e os equipamentos disponíveis em seu lar.
      </p>
      <!-- <button class="btn btn-primary">Conheça os Cursos</button> -->
    </div>
  </div>
</div>
