<div class="text-center mb-12">
  <h2 class="text-3xl font-bold">Transforme seu corpo com o método certo</h2>
</div>
<div class="grid md:grid-cols-3 lg:grid-cols-4 gap-8 px-6 lg:px-20">
  <div class="card bg-base-200 shadow-xl p-6">
    <div class="card-body items-center text-center">
      <div
        class="flex justify-center mb-3 border-2 rounded-full p-3"
        style="border-color: var(--color-primary)"
      >
        <img src="./icon-1.svg" alt="Ícone rápido" class="w-17 h-17 p-1" />
      </div>
      <h3 class="card-title">Treine Onde Quiser</h3>
      <p>Escolha o melhor lugar: casa, parque ou academia.</p>
    </div>
  </div>
  <div class="card bg-base-200 shadow-xl p-6">
    <div class="card-body items-center text-center">
      <div
        class="flex justify-center mb-3 border-2 rounded-full p-3"
        style="border-color: var(--color-primary)"
      >
        <img src="./icon-2.svg" alt="Ícone rápido" class="w-17 h-17 p-1" />
      </div>
      <h3 class="card-title">Treinos Rápidos e Eficientes</h3>
      <p>Sessões de 45 minutos, rápidas e eficazes para resultados.</p>
    </div>
  </div>
  <div class="card bg-base-200 shadow-xl p-6">
    <div class="card-body items-center text-center">
      <div
        class="flex justify-center mb-3 border-2 rounded-full p-3"
        style="border-color: var(--color-primary)"
      >
        <img src="./icon-3.svg" alt="Ícone rápido" class="w-17 h-17 p-1" />
      </div>
      <h3 class="card-title">Custo-Benefício</h3>
      <p>Personal na palma da mão, acessível e eficaz.</p>
    </div>
  </div>
  <div class="card bg-base-200 shadow-xl p-6">
    <div class="card-body items-center text-center">
      <div
        class="flex justify-center mb-3 border-2 rounded-full p-3"
        style="border-color: var(--color-primary)"
      >
        <img src="./icon-4.svg" alt="Ícone rápido" class="w-17 h-17 p-1" />
      </div>
      <h3 class="card-title">Acompanhamento e Suporte Online</h3>
      <p>Explicações detalhadas de cada exercício com suporte diário.</p>
    </div>
  </div>
</div>
